* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #e1fefa;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo img {
    height: 50px;
}
.nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: 600;
    transition: 0.3s;
}
.nav a:hover {
    color: #d62828;
}
.hero {
    height: 100vh;
    background: url("http://ts2.mm.bing.net/th?id=OIP.kzBquqoSkneJ0B-AJvKw2gHaE7") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 80px;
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
}
.hero-content p {
    color: white;
    margin: 15px 0;
}
.btn {
    display: inline-block;
    padding: 12px 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: darkred;
}
.about {
    padding: 80px 60px;
    text-align: center;
}
.about h2 {
    margin-bottom: 20px;
}
.about p {
    max-width: 800px;
    margin: 0 auto 40px;
}
.about-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.about-images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.menu {
    padding: 80px 60px;
    background: #f8f8f8;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.menu-box {
    background: beige;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}
.menu-box h3 {
    margin-bottom: 15px;
}
.menu-box ul {
    list-style: none;
}
.menu-box li {
    margin-bottom: 10px;
}
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .nav a {
        margin: 0 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}
